.noselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.select_text {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -khtml-user-select: text;
}
.select_all {
  user-select: all;
  -webkit-user-select: all;
  -moz-user-select: all;
  -khtml-user-select: all;
}
body {
  background-color: #fafafa;
  font-family: 'Helvetica Light', 'Helvetica';
  font-weight: lighter;
  overflow: hidden;
  color: #646464;
  margin: 0;
}
#pcanvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */

  position: absolute;
  top: 0;
  left: 0px;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
#dialog-holder {
  position: relative;
  margin: 0;
  top: 0;
  left: 0;
  height: 2000px;
  background-color: #fafafa;
  color: #3c3c3c;
  z-index: 999;
  padding: 25px;
  -webkit-backface-visibility: hidden;
  /* Prevents flickering */

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  overflow: scroll;
  font-size: 100px;
  outline: none;
  border: none;
}
#cmd_finish_dialog {
  position: absolute;
  top: 0px;
  width: 100px;
  height: 100px;
  right: 0px;
  z-index: 9999;
  background: none;
}
#message {
  font-size: 30px;
}
.button {
  color: #3c3c3c;
  font-family: monospace;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline;
  opacity: .8;
  padding: 15px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.button i {
  color: #3c3c3c;
  font-size: 130px;
}
.button:active {
  opacity: 1;
}
.color_option {
  width: 50px;
  height: 70px;
  -webkit-backface-visibility: hidden;
  /* Prevents flickering */

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  margin: 5px;
  display: inline-block;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.active {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
i {
  color: #141414;
  font-size: 70px;
}
a {
  text-decoration: none;
}
.menu {
  position: absolute;
  top: 0px;
  right: 0;
}
.menu-button {
  background-color: transparent;
  color: #646464;
  padding: 15px;
  margin: 5px;
  width: 80px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  border: none;
  cursor: pointer;
  opacity: .7;
}
.menu-button i {
  font-size: 60px;
}
.close-button {
  border: none;
  margin-top: -10px;
  margin-right: 10px;
  padding: 0;
  background: transparent;
  cursor: pointer;
  opacity: .7;
}
.close-button span {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 80px;
}
.menu-button:active,
.close-button:active {
  opacity: .9;
}
#cmd_finish_sketch i {
  color: #57ac80;
}
#info {
  background-color: #d4d4d4;
  padding: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
#narrate {
  font-size: 50px;
  background: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  /* Prevents flickering */

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  opacity: .8;
}
#narrate:hover {
  background: #fafafa;
}
.popup {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
  z-index: 9999;
  padding: 0px;
  -webkit-backface-visibility: hidden;
  /* Prevents flickering */

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  overflow: hidden;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.controls-container {
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.7);
  text-align: center;
}
.controls {
  padding-top: 20px;
  line-height: 100px;
}
#color-holder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 180px;
  height: 100%;
  overflow: scroll;
  background-color: rgba(245, 245, 245, 0.7);
}
#sketchcanvas {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -300px;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */

  padding: 0px;
  background-color: #fafafa;
  cursor: crosshair;
}
#range-outer {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  position: relative;
  margin-left: 40px;
  margin-top: 10px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  background-color: #c8c8c8;
  cursor: crosshair;
}
#range-inner {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  position: absolute;
  left: 45px;
  top: 45px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: #646464;
}
#videos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#videos video {
  position: absolute;
  width: 70%;
  top: 50px;
  left: 50%;
  margin-left: -35%;
  background-color: rgba(245, 245, 245, 0.7);
  padding: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
#button-icons {
  position: absolute;
  width: 1000px;
  bottom: 0;
  left: 50%;
  margin-left: -500px;
  text-align: center;
  padding: 5px;
  background-color: rgba(245, 245, 245, 0.7);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.button-icon {
  margin: 15px;
  width: 100px;
  height: 100px;
  -webkit-backface-visibility: hidden;
  /* Prevents flickering */

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
}
