@bkg: rgb(250,250,250);
@terminalbkg: rgb(220,220,220);
@controlbkg: rgba(240,240,240,.7);
@terminaltext: rgb(60,60,60);
@textcol: rgb(60,60,60);

.rounded-corners (@radius: 8px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.shadow(@drop: 10px){
    -webkit-box-shadow: 0px 1px @drop rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px @drop rgba(0,0,0,0.25);
    box-shadow: 0px 1px @drop rgba(0,0,0,0.25);
}

.noselect{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.select_text{
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -khtml-user-select: text;
}

.select_all{
    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -khtml-user-select: all;
}

.rotate(@deg: 180deg){
    -moz-transform:rotate(@deg);
    -webkit-transform:rotate(@deg);
    -o-transform:rotate(@deg);
    -ms-transform:rotate(@deg);
}

.ease (@time: .15s) {
    -webkit-backface-visibility: hidden; /* Prevents flickering */
    -webkit-transition: all @time ease-in-out;
    -moz-transition: all @time ease-in-out;
    -o-transition: all @time ease-in-out;
    -ms-transition: all @time ease-in-out;
}

.scale (@amount: 1.2){   
    -webkit-transform: scale( @amount );
    -moz-transform: scale( @amount );
    -o-transform: scale( @amount );
    -ms-transform: scale( @amount );
}


body{
    background-color:@bkg;
    font-family:'Helvetica Light', 'Helvetica';
    font-weight: lighter;
    overflow: hidden;
    color:rgb(100,100,100);
    margin: 0;
}

#pcanvas{
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
        position:absolute;
        top:0;
        left: 0px;
        margin:0;
        padding:0;
        background-color: rgb(250,250,250);
        
    
}

#dialog-holder{
    position: relative;
    margin: 0;
    top:0;
    left:0;
    height: 2000px;
    background-color: @bkg;
    color: @textcol;
    z-index: 999;
    padding: 25px;
    .ease;
    overflow: scroll;
    font-size: 100px;
    outline: none;
    border: none;
}

#cmd_finish_dialog{
    position:absolute;
    top:0px;
    width: 100px;
    height: 100px;
    right:0px;
    z-index: 9999;
    background:none;
}

#message{
    font-size: 30px;
}

.button{
    color: @textcol;
    font-family: monospace;
    margin-top: 10px;
    width:40px;
    height:40px;
    text-align:center;
    display: inline;
    opacity:.8;
    padding: 15px;
    .noselect;
    cursor: pointer;
}

.button i{
    color:rgb(60,60,60);
    font-size: 130px;
}

.button:active{
    opacity:1;
}

.color_option{
    width:50px;
    height:70px;
    .ease;
    margin: 5px;
    display: inline-block;
    .noselect;
    cursor: pointer;
}

.active{
    .scale(1.2);
}


i{
    color:rgb(20,20,20);
    font-size: 70px;
}

a{
    text-decoration:none;
}

.helpToggle{
    position: absolute;
    top:0px;
    right: 0;
    background-color: darken(@bkg,10%);
    color: rgb(100,100,100);
    padding: 15px;
    margin: 5px;

    .rounded-corners;
    .noselect;
    border: none;
    cursor: pointer;
    
    i{
        font-size: 60px;
    }
}

#cmd_finish_sketch i{
    color: darken(rgb(121,189,154), 10%);
}

#info{
    background-color: darken(@bkg,15%);
    padding: 10px;
    .rounded-corners;
}

#narrate{
    font-size:50px;
    background: none;
    .rounded-corners;
    padding: 15px;
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    .ease;
    .noselect;
    opacity:.8;
}

#narrate:hover{
    background: @bkg;
}

#sketch-holder{
    position: absolute;
    margin: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: @terminalbkg;
    z-index: 9999;
    padding: 0px;
    .ease;
    overflow: hidden;
    .noselect;
}

.controls-container{
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: @controlbkg;
    text-align: center;
}

.controls{

    padding-top: 20px;
    line-height: 100px;

}

#color-holder{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: 180px;
    height: 100%;
    overflow:scroll;
    background-color: @controlbkg;
}

#sketchcanvas{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
    padding: 0px;
    background-color: rgb(250,250,250);
    cursor: crosshair;
}

#range-outer{
    .noselect;
    position: relative;
    margin-left: 40px;
    margin-top: 10px;
    width: 120px;
    height: 120px;
    .rounded-corners(60px);
    background-color: rgb(200,200,200);
    cursor: crosshair;
}

#range-inner{
    .noselect;
    position: absolute;
    left: 45px;
    top: 45px;
    width: 30px;
    height: 30px;
    .rounded-corners(15px);
    background-color: rgb(100,100,100);
}







