@bkg: rgb(250,250,250);
@terminalbkg: rgb(220,220,220);
@terminaltext: rgb(60,60,60);

.rounded-corners (@radius: 8px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.shadow(@drop: 10px){
	-webkit-box-shadow: 0px 1px @drop rgba(0,0,0,0.25);
 	-moz-box-shadow: 0px 1px @drop rgba(0,0,0,0.25);
 	box-shadow: 0px 1px @drop rgba(0,0,0,0.25);
}

.noselect{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.rotate(@deg: 180deg){
    -moz-transform:rotate(@deg);
	-webkit-transform:rotate(@deg);
	-o-transform:rotate(@deg);
	-ms-transform:rotate(@deg);
}

.ease (@time: .2s) {
	-webkit-transition: all @time ease-in-out;
    -moz-transition: all @time ease-in-out;
    -o-transition: all @time ease-in-out;
    -ms-transition: all @time ease-in-out;
}

body{
	background-color:@bkg;
	font-family:'Helvetica Light', 'Helvetica';
	font-weight: lighter;
	overflow: hidden;
	color:rgb(100,100,100);
	margin: 0;
}

#pcanvas{
		outline: none;
	  	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
		position:absolute;
		top:0;
		left: 0px;
		margin:0;
		padding:0;
		background-color: rgb(250,250,250);
	
}

.info{
	position:absolute;
	top:8px;
	right:15px;
	opacity: .6;
	.ease;
}

.info:hover{
	opacity:.8;
}

i{
	color:rgb(20,20,20);
	font-size: 70px;
}

a{
	text-decoration:none;
}

.helpToggle{
    position: absolute;
    top:0px;
    right: 0;
    background-color: darken(@bkg,10%);
    color: rgb(100,100,100);
    
    padding: 10px;
    margin: 5px;
    width: 60px;
    .rounded-corners;
    .noselect;
    border: none;
    
    i{
        font-size: 50px;
    }
}

.toggle{
    opacity: .8;
    .ease(.15s);
    i{
        color: rgb(40,40,40);
    }
    
}

.toggle:hover{
    opacity: 1;
}

.menuToggle{
    position: absolute;
    top:0px;
    right: 70px;
    background-color: darken(@bkg,10%);
    color: rgb(100,100,100);
    padding: 10px;
    margin: 5px;
    width: 60px;
    .rounded-corners;
    .noselect;
    border: none;
    
    i{
        font-size: 50px;
    }
}

.help{
    position: absolute;
    top:80px;
    right: -500px;
    background-color: darken(@bkg,10%);
    color: rgb(100,100,100);
    opacity: .7;
    width:400px;
    padding: 20px;
    margin: 5px;
    font-size: 30px;
    .rounded-corners;
    .noselect;
    .ease;
    a{
        text-decoration:underline;
        color: rgb(100,100,100);
    }
}

#info{
    background-color: darken(@bkg,15%);
    padding: 10px;
    .rounded-corners;
}



